body{ 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
li{ 
    list-style: none;
}


.flex-container{ 
    display: flex;
    gap: 25px;
    /* width: 800px;
    border: 1px solid red; */
}
.flex-item{ 
    background-color: aqua;
    font-size: 35px;
    padding: 55px;
    order: 1;
    width: 100px;
    height: 100px;
}

.shrink-1{ 
    flex-shrink: 1;
}
.shrink-2{ 
    flex-shrink: 2;
}
.shrink-3{ 
    flex-shrink: 3;
}
.shrink-4{ 
    flex-shrink: 4;
}
.shrink-5{ 
    flex-shrink: 5;
}
.shrink-6{ 
    flex-shrink: 6;
}


/* .grow-0{ 
    flex-grow: 0;
}
.grow-1{ 
    flex-grow: 1;
}
.grow-2{ 
    flex-grow: 2;
} */
