body{ 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{ 
    margin: 10px auto;
    
}
li{ 
    list-style: none;
}


.flex-container{ 
    display: flex;
    gap: 25px;
}
.flex-item{ 
    background-color: aqua;
    font-size: 35px;
    padding: 55px;
    order: 1;
}
/* .grow-0{ 
    flex-grow: 0;
}
.grow-1{ 
    flex-grow: 1;
}
.grow-2{ 
    flex-grow: 2;
} */
